beautifulsoup4~=4.9.3
common~=0.1.2
PySnooper~=0.4.2
selenium~=3.141.0
soupsieve~=2.2
urllib3~=1.26.3
requests~=2.25.1
keepasshttplib~=0.7
tqdm~=4.56.2
pytest~=6.2.2
pip~=21.0.1
py~=1.10.0
keyring~=22.0.1
certifi~=2020.12.5
chardet~=4.0.0
pluggy~=0.13.1
six~=1.15.0
idna~=2.10
setuptools~=53.0.0
pkcs7~=0.1.2
zipp~=3.4.0
webdriver_manager~=3.3.0
pysocks~=1.7.1